body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 14px;
}

main.container {
  padding-top: 40px;
}

.section-block {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  color: #1b3967;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero {
  min-height: 70vh;
}

.hero-img {
  max-width: 300px;
}

.navbar .nav-link {
  color: #f8f9fa;
}

.navbar .nav-link:hover {
  color: #194c99;
}

.navbar .nav-link.active {
  color: #0d6efd !important;
  background-color: #f8f9fa !important;
}

.card-header {
  background-color: #0d6efd;
  color: #fff;
}

.card {
  border: none;
}

#contact .list-group-item.active {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.backToTop {
  width: 50px; 
  height: 50px;
}

.backToTop:hover {
  background-color: #7dbbf1;
}



@media (max-width: 575.98px) {
  .hero {
    text-align: center;
  }
}